:root {
  --colorWhite: #fff;
  --colorPrimaryBlue: #1E2C64	;
  --colorPrimaryBlueLight: #9ea7fc;
  --logoHeader: 60px;
  --colorRed : #ff4d4d;
  --colorDarkRed: #b30000;
}

/* Header Container */
.kanban__header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: linear-gradient(90deg, var(--colorPrimaryBlueLight), var(--colorPrimaryBlue));
  // background: var(--colorPrimaryBlue);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--logoHeader);
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

/* Right-side Info */
.kanban__header-info {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Search Section */
.kanban__header-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Search Icon */
.search-icon {
  margin-left: 20px;
  color: var(--colorWhite);
  font-size: 19px;
  cursor: pointer;
}

/* Input Text */
.input-text {
  color: var(--colorWhite);
  background: rgba(255, 255, 255, 0.15);
  border: none;
  width: 120px;
  margin: 0 10px;
  padding: 6px 10px;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.input-text::placeholder {
  color: var(--colorWhite);
  font-weight: 300;
  letter-spacing: 0.5px;
}

.input-text:focus {
  background: rgba(255, 255, 255, 0.25);
  border-bottom: 1px dashed var(--colorWhite);
}

/* Button */
.btn {
  background: var(--colorRed);
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--colorWhite)
}

.btn:hover {
  background: var(--colorDarkRed);
}

.icon-logout {
  margin-left: 10px;
}


/* Responsive */
@media (max-width: 1024px) {
  .kanban-wrapper {
    padding: 0;
  }
}

@media (max-width: 670px) {
  .kanban__header-search {
    display: none;
  }
}

@media (max-width: 480px) {
  .btn > span {
    display: none;
  }
}
