/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.form-control {
  padding: 5px 10px;
  border: 1px solid grey;
  margin-bottom: 15px;
  border-radius: 5px;
}
.form-control .title-form {
  font-style: normal;
  color: black;
  font-size: 11pt;
  font-family: "Roboto", sans-serif;
}
.form-control .header-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-btn .add-field {
  width: 60%;
}
.field-horizontal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
  grid-template-columns: 150px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0px 4px 0px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}
.label-field {
  font-size: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem;
}