/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --bg-color: #f5f5f5;
  --paper-color: #75e3ff;
}
#portfolio {
  background-color: var(--bg-color);
  height: 100%;
  // width: 100%;
  width: 100vw;
  // padding: 5em 2em 2em 2em;
  padding: 2em 2em 2em 2em;
}
.paper {
  padding: 15px;
  margin: 0 auto;
  width: 210mm;
  min-height: 297mm;
  border-radius: 3px;
  background-color: var(--paper-color);
  -webkit-box-shadow: 0px 4px 5px 4px #dadada; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */ /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 4px 5px 4px #dadada; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
