/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.widget-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 100px 10px 100px;
  grid-template-columns: 1fr 1fr 100px 100px;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.report-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 10px 1fr 10px 1fr;
  grid-template-columns: 150px 1fr 1fr;
  grid-gap: 10px;
}
.layout-2 {
  -ms-grid-columns: 150px 150px;
  grid-template-columns: 150px 150px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 450px){
  .widget-filter {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .btn-export {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 789px){
  .widget-filter {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}